<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MUSIC</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<style>
	body{
		color: red;
	}

	audio::-webkit-media-controls-play-button {
	  width: 800px;
    background-color: rgba(230, 230, 255, 1);
	}





	</style>
</head>
<body>
<h1>MA</h1>

<audio class ="bla" src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg" controls >	
<p>Fallback content goes here.</p>
</audio>




<script src="https://d3js.org/d3.v4.js"></script>
</body>
</html>